.DS_Store
.ipynb_checkpoints
.ipython
.jupyter
.local
__pycache__

*.zip
unused_code.ipynb
coauthors.md
tmp
tmp_*
backup
tests
*.tiff
reviews
formalia


data/youngsound2015/ys_bathy_v3.0_raw.nc
data/regions/*
!data/regions/.keep
data/fn-compilation-database/nishino2015nutrient/*.py
data/fn-compilation-database/nishino2015nutrient/*.png
data/fn-compilation-database/nishino2018*
data/fn-compilation-database/randelhoff*
data/fn-compilation-database/N-ICE2015-ISUS.nc
data/primprod
data/laptev/*/*.xlsx
data/baffin/FLOATS_by_date_derived.nc
# files too big
data/no3-compilation/database.*
data/no3-compilation/database-per-stn.*
*.xlsx
*.pandas

paper/bibliographyfull.bib
paper/supmat_trimmed_paper.md
ghostdriver.log
paper/templates
paper/markdown-format-wdiff
*.docx
latex/
